<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154321634481-m46skp6ffu5v93ebmo22rq5ddstds28c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154321634481-m46skp6ffu5v93ebmo22rq5ddstds28c</string>
	<key>API_KEY</key>
	<string>AIzaSyAtLi7JWxYrjcoh9wl9ANH_d8l-0rQhPMw</string>
	<key>GCM_SENDER_ID</key>
	<string>154321634481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secondfebproject</string>
	<key>PROJECT_ID</key>
	<string>i-listener-cd589</string>
	<key>STORAGE_BUCKET</key>
	<string>i-listener-cd589.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154321634481:ios:fa4974733fd37067c90e90</string>
</dict>
</plist>